<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Dobal Design realizează pe comandă obiecte de mobilier exact pe gustul dumneavoastră, cu livrare în țară și posibilitatea de plată online.">
        <meta name="keywords" content="mobilă, lemn, lemn masiv, mahon, pin, cires, mesteacăn, arțar, brad, tec, stejar, dulap, pat, comodă, birou, grădină, măsuță de cafea, eucalipt, salcâm, foioase, dressing, PAL, MFA, comodă, raft, living, bucătărie">
        <title>Dobal Design </title>

        <%- include("../fragmente/head.ejs");%>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <script src="https://kit.fontawesome.com/6ed1d68ae2.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%- include("../fragmente/header.ejs");%>
    <main>
  
    </main>
        <h1 style="color:#6E4C2B; text-align: center">403: Accesul nu este permis!</h1>
        <br><br>
        <figure>
            <center><img height="400px" width="300px" margin-left="auto" margin-right="auto"
                srcset="Resurse/Imagini/403.png"
                alt="Error 403">
            </center>
        </figure>
    </body>

</html>