<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Dobal Design realizează pe comandă obiecte de mobilier exact pe gustul dumneavoastră, cu livrare în țară și posibilitatea de plată online.">
        <meta name="keywords" content="mobilă, lemn, lemn masiv, mahon, pin, cires, mesteacăn, arțar, brad, tec, stejar, dulap, pat, comodă, birou, grădină, măsuță de cafea, eucalipt, salcâm, foioase, dressing, PAL, MFA, comodă, raft, living, bucătărie">
        <link rel="stylesheet" href="/Resurse/CSS/chat.css" type="text/css" />
        <script type="text/javascript" src="/Resurse/client-dist/socket.io.js"></script>
        <script src="/Resurse/js/chat.js"></script>
        
        <%- include("../fragmente/head") %> 
        
        <title>Dobal Design - chat</title>


    </head>

    <body>
        <div id="grad">
    <%- include("../fragmente/header") %>

    <main>
        <div style="border:5px black dotted; text-shadow: 2px 2px 8px brown; font-size:27px;">
        <p>Avem încredere numai în clienții noștri pentru a trimite mesaje cu un conținut adecvat, de aceea accesul pe această pagină este restricționat dacă nu ești conectat!</p>
        <p>Conectează-te de grabă sau înregistrează-te!</p>
    </div>
    </main>

    <%- include("../fragmente/footer") %>
</div>
    </body>
</html>





