<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Dobal Design - cos virtual.">
        <meta name="keywords" content="mobilă, lemn, lemn masiv, mahon, pin, cires, mesteacăn, arțar, brad, tec, stejar, dulap, pat, comodă, birou, grădină, măsuță de cafea, eucalipt, salcâm, foioase, dressing, PAL, MFA, comodă, raft, living, bucătărie">
        <link rel="stylesheet" href="/Resurse/CSS/cos-virtual.css" type="text/css" />
        <title>Dobal Design - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/Resurse/js/cos_virtual.js"></script>
    </head>
    <body>
        <div id="grad">
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
        </div>
    </body>
</html>