<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Dobal Design realizează pe comandă obiecte de mobilier exact pe gustul dumneavoastră, cu livrare în țară și posibilitatea de plată online.">
        <meta name="keywords" content="mobilă, lemn, lemn masiv, mahon, pin, cires, mesteacăn, arțar, brad, tec, stejar, dulap, pat, comodă, birou, grădină, măsuță de cafea, eucalipt, salcâm, foioase, dressing, PAL, MFA, comodă, raft, living, bucătărie">
        <title>Dobal Design </title>

        <%- include("../fragmente/head.ejs");%>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <script src="https://kit.fontawesome.com/6ed1d68ae2.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="grad">
        <%- include("../fragmente/header.ejs");%>
    <main>
        Despre companie   
    </main>
        <%- include("../fragmente/footer.ejs");%>
        
        </div>
    </body>

</html>