<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Dobal Design realizează pe comandă obiecte de mobilier exact pe gustul dumneavoastră, cu livrare în țară și posibilitatea de plată online.">
        <meta name="keywords" content="mobilă, lemn, lemn masiv, mahon, pin, cires, mesteacăn, arțar, brad, tec, stejar, dulap, pat, comodă, birou, grădină, măsuță de cafea, eucalipt, salcâm, foioase, dressing, PAL, MFA, comodă, raft, living, bucătărie">
        <link rel="stylesheet" href="/Resurse/CSS/galerie-statica.css" type="text/css" />
        <title>Dobal Design</title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
        <div id="grad">
    <%- include("../fragmente/header") %>

    <main>

        <%- include("../fragmente/galerie") %>

    </main>

    <%- include("../fragmente/footer") %>
        </div>
    </body>
</html>