<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Dobal Design </title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
        <div id="grad">
    <%- include("../fragmente/header") %>

    <main>
    Nu mai sunteți conectat!
    </main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>
</div>
</body>
</html>