<footer>
    <!--link către inceputul paginii-->
    <a href="#" title="Înapoi" id="link-top"><div id="triunghi">&#5123;</div></a>
    <address>
    <!--informații de contact, în pagină se vor vedea cu italic-->
        <div id="contact"><b><h2>Contact</h2></b>
        <!--utilizare icon din Google API- static&dinamic-->
        <span class="fa-solid fa-phone fa-shake"></span><a href="tel:+40731846255">  0767259301</a><br>
        <span class="fa-solid fa-envelope"></span><a href="mailto:designdobal@gmail.com"> designdobal@gmail.com</a><br>
        <span class="fa-brands fa-whatsapp"></span><a href="https://wa.me/+40731846255">Whatsapp</a><br>
        <span class="fa-solid fa-location-dot fa-flip"></span><a href="https://goo.gl/maps/rVnaavNxcV5xKgpf6">  Strada Academiei 14, București</a><br>
        <!--<span> este un container inline-->
        <!--mailto, wa.me, goo.gl/maps creează un link care deschide programul de mail/whatsapp/maps al utilizatorului-->
    </address>

    <!--Termeni&conditii și Politica de confidentialitate-->
    <br>
    <a href="Resurse/pdf/Termeni_si_conditii.pdf" target="_blank">Termeni și condiții</a>
    <a href="Resurse/pdf/Politica_de_confidentialitate.pdf" target="_blank">Politica de confidențialitate</a>
    </style>

    <div id="banner">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Accept</button></div>
    </div>
    <p>
        <small>
            &copy; copyright <time datetime="24-02-2022"> 24 februarie 2022 </time> 
            Dobal Design
            <!-- &copy este entitatea pentru simbolul de copyright-->
            <!--small = text mai mic, time = afiseaza data in formatul specificat-->
        </small>
    </p>
</footer>


<!-- id vs. class
1.selectori #id_nume vs. .class_nume
2.un element poate avea atașat un singur id-selector, dar mai multe class-selector
3. id-ul este unic in pagina -->
